<h1>Your financial app</h1><br>

<form action="categories/new", method="GET">
    <input class="btn btn-outline-secondary" type="submit" value="Create new category">
</form><br>

<form action="categories", method="GET">
    <input class="btn btn-outline-secondary" type="submit" value="Show all categories">
</form><br>

<form action="reports/index", method="GET">
    <input class="btn btn-outline-primary" type="submit" value="Show reports">
</form>


