<h1>Editing operation</h1>

<%= render "form", operation: @operation %>

<br>

<div>
  <%= link_to "Показати цю статтю витрат", [@category, @operation] %>
  <%= link_to "Повернутись до всіх операцій", category_operations_path %>
</div>
